body {
  margin: 0;
}
main {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
}

.box {
  background-color: white;
  width: 95%;
  padding-block: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 2px;
  box-shadow: 0 4px 10px 5px rgb(0 0 0 / 20%);
}

.cards-container {
  color: white;
  margin: 1.5rem;
  display: flex;
  /* margin: auto; */
  /* flex-wrap: wrap; */
  border-radius: 8px;
  overflow: hidden;
  max-width: 917px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  border: 0 solid;
  border-radius: 100px;
  padding: 1em 2.1em;
  font-family: "Lexend Deca", system-ui;
  margin-top: 1rem;
}

.cards-container h1 {
  text-transform: uppercase;
  /* font-size: 15px; */
  font-family: "Big Shoulders Display", system-ui;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

.cards-container p {
  font-family: "Lexend Deca", system-ui;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.7;
  margin-bottom: 2.5rem;
}

.card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card img {
  width: 4rem;
  height: 2.5rem;
}

.card a {
  margin-top: auto;
  margin-right: auto;
}

.orange-card {
  background-color: hsl(31, 77%, 52%);
  /* border-radius: 8px 8px 0 0; */
}
.orange-card a {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
}

.dark-cyan {
  background-color: hsl(184, 100%, 22%);
}

.dark-cyan a {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
}

.very-dark-cyan {
  background-color: hsl(179, 100%, 13%);
  /* border-radius: 0 0 8px 8px; */
}

.very-dark-cyan a {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
}

@media (width < 868px) {
  .cards-container {
    flex-wrap: wrap;
    max-width: 375px;
  }
}
