* {
  margin: 0;
  font-family: salsa;
}

.jhalar {
  width: 220px;
}
.hero {
  background-image: url(./Images/orange-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero p {
  font-size: 46px;
  font-weight: 400;
  max-width: 587px;
}

.para-audio {
  margin-left: 14.4rem;
}

audio::-webkit-media-controls-panel {
  background-color: #fbd8a4;
}

.audio-container {
  background-color: #fbd8a4;
  max-width: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 45px;
  padding-inline-start: 1.2rem;
  margin-top: 1.4rem;
}

.lakshmi-ganesh-section {
  background-color: #fb8b01;
  max-width: 100vw;
  padding: 20px;
  position: relative;
}

.horizontal-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 70%;
  max-width: 1068px;
  margin: 1.5rem 0 3rem 0;
  margin-inline: auto;
}

.horizontal-divider .line {
  background-color: #fbd8a4;
  width: 468px;
  border: 1px solid fff;
  height: 2px;
  /* max-width: 1068px; */
}

.horizontal-divider .dot {
  background-color: #fbd8a4;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  flex-shrink: 0;
}

.lakshmiji-ganeshji-img {
  width: 100%;
}

.lakshmi-ganesh-section h2 {
  font-family: Style Script;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.card-girl {
  /* padding-inline: 20%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-card {
  max-width: 500px;
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 1.5rem;
}

.white-card p {
  font-size: 2rem;
  font-weight: 400;
}

.little-girl-img {
  max-width: 250px;
  margin-left: -70px;
}

.lakshmi-ganesh {
  max-width: 100vw;
  padding: 20px 0;
}

.lakshmi-ganesh-card {
  background-color: #fff6e9;
  max-width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  /* box-sizing: border-box; */
}

.lakshmi-ganesh-card img {
  width: 50%;
}

.last-text{
  line-height: 5rem;
  margin-left: 1rem;
}
.last-text p{
  font-size: 1.5rem;
}

.last-text h1{
  font-family: 'style script';
  font-size: 70px;
  font-weight: 250;
}

.credit-para{
  font-size: 1rem;
  text-align: end;
  margin-block: 2rem 1rem;
  font-weight: 600;
}

@media (width <= 818px) {
  .second-deepak {
    display: none;
  }

  .first-deepak {
    display: block;
    margin-left: auto;
  }

  .para-audio {
    margin-left: 1.2rem;
  }

  .para-audio p {
    font-size: 25px;
  }

  .white-card {
    padding-block: 1.5rem;
    padding-left: 1rem;
    padding-right: 3.2rem;
    border-radius: 10px;
  }
  .white-card p {
    font-size: 1.25rem;
  }

  .little-girl-img {
    width: 150px;
    margin-left: -70px;
  }
  
  .lakshmi-ganesh{
    padding-top: unset;
  }
  .lakshmi-ganesh-card{
    padding: 1rem 3rem;
  }

.lakshmi-ganesh-card img {
  width: 50%;
}

.last-text{
  line-height:  3.5rem;
}

.last-text p{
  font-size: 1.2rem;
  font-weight: 400;
}

.last-text h1{
  font-size: 2.5rem;
  font-weight: 400;
}

  @media (width < 550px) {
    .audio-container span,
    .music-playing {
      display: none;
    }

    .audio-container {
      max-width: max-content;
    }

    .first-deepak {
      width: 100%;
      max-width: 405px;
    }

    .lakshmi-ganesh-section h2 {
      font-size: 1.5rem;
    }
    
    .lakshmi-ganesh-card{
      padding: 1rem 3rem;
    }

    .lakshmi-ganesh-card img {
      width: 60%;
    }

    .last-text p{
      font-size: 1.2rem;
      font-weight: 400;
    }

    .last-text h1{
      font-size: 1.8rem;
      font-weight: 500;
    }
    
  }
}
