* {
  margin: 0;
}
html,
body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter";
}

body {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 12%);
  border-radius: 15px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 36px;
  box-sizing: border-box;
}

.card img {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  margin-block: 2.5rem 2rem;
}

.text {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.text h1 {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 600;
}
.text h3 {
  color: hsl(75, 94%, 57%);
  font-size: 12px;
}

.text p {
  font-weight: 300;
  font-size: 14px;
  margin-block: 2rem 1.5rem;
}

.a-tab {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.25rem;
  width: 100%;
}

.a-tab a:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}
.a-tab a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  padding-block: 1rem;
  font-size: 14px;
}

@media (width > 500px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
